# .env.example
# PayPal Configuration
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
# Use 'sandbox' for testing, 'live' for production
PAYPAL_MODE=sandbox

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=mr.advocate.law.firm@gmail.com
EMAIL_PASS=ohvh lwon swsp dosx
OWNER_EMAIL=wajidhussain.dev@gmail.com
ADMIN_PASSWORD=admin123

# App Configuration
# Development: http://localhost:3000
# Production: https://al-ahmad.vercel.app
APP_URL=
